.App {
    height: 100vh;
    width: 100vw;
    float: left;
    
  }
  
  .lo{
    padding-top: 100px;
  }
  
  .na{
    float: right;
    background-color: brown;
  }
  
  .sidebar{
    position:relative;
    height: 100%;
    width: 250px;
    float:left;
    background-color: rgb(34, 40, 49);
  }
  
  
  .sidebarlist{
    height:auto;
    width:100%;
    padding:0px;
    margin-top: 50px;
    
  }
  
  .row{
    display:flex;
    flex-direction:row;
    width:100%;
    height:50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top:0%;
    border: 10px rgb(5, 7, 7);
    list-style-type:none;
    color:white;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .row:hover{
    cursor:pointer;
    background-color: rgb(255,211,105);
  }
  .icon{
    margin-left:20px;
    flex:10px;
    fill:white;
    scale: 0.9 ;
  }
  
  .title{
    flex:100px;
    font-size: 20px;
    margin:13px;
  }
  
  .add{
    background-color: #FFD369;
    width: 500px;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 5%;
    height: 13%;
    padding: 10px;
  }