
  
  .conduct {
    margin: 0 auto auto 16rem;
    /* top:0rem; */
    /* width: 60%; */
    /* position: relative; */
    /* border: 1px solid black; */
    padding: 70px;
    /* overflow: hidden; */
  }
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
 
  
  .sidebar {
    margin: auto;
    padding: 0;
    width: 200px;
    background-color: #2e2c2c;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;
    font-size: large;
  }
  
  .sidebar a {
    position: relative;
    display: block;
    color: rgb(239, 234, 234);
    padding: 16px;
  
    text-decoration: none;
  }
  span {
    position: absolute;
    top: 2.1rem;
    left: 5rem;
  }
  .sidebar a.active {
    background-color: #181e1c;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #F2F2F2;
  }
  
  .conduct {
    margin: 0 auto auto 16rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 70px;
    /* overflow: hidden; */
  }

  /* .parent{
    background-color: #ffffff;
  } */
  
  /* body {
    
  } */
  

  
  .sidebar {
    margin: auto;
    padding: 0;
    width: 200px;
    background-color: #2e2c2c;
    display: flex;
    flex-direction: column;
    gap: 300px;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;
    font-size: large;
  }
  
  .sidebar a {
    position: relative;
    display: block;
    color: rgb(239, 234, 234);
    padding: 16px;
  
    text-decoration: none;
  }
  span {
    position: absolute;
    top: 2.1rem;
    left: 5rem;
  }
  .sidebar a.active {
    background-color: #181e1c;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .first-candi
  {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .other-candi
  {
    display: flex;
    margin-top:3px;
    flex-direction: row;
    gap: 5px;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  .add-more
  {
    margin-left: 60px;
    margin-top: 10px;
  }
  .textarea
  {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    /* margin-bottom: ; */
  }
  .name-election
  {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
  }
  #rules
  {
    margin-top: 10px;
  }
  .all-box
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 4rem;
  }
  .YBB
  {
    display: flex;
    gap: 10rem;
  }
  
  .name-date
  {
    display: flex;
    gap: 29rem;
  }
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .input-grp{
    margin-right: 80px;
    /* margin-top:rem; */
  } 
  .input-grp2{
    margin-right: 80px;
    margin-top: 3rem;
  }


  .Stime{
    display: flex;
    gap: 38rem;
    margin-top: -1rem;
  }

  .Stime2{
    margin-right: 100px;
    margin-top: 4rem;
  }

  .tm1{
    background: #bdb6b6;
    border-radius: 0.4rem;
    inline-size: 12rem;
    /* inline-size: 2rem; */
    font-size: large;
    color: #181e1c;
  }

  .tm2{
    background: #bdb6b6;
    border-radius: 0.4rem;
    font-size: large;
    width:fit-content;
    color: black;
  }


  .Head1{
    font-style: italic;
    /* font-style: initial; */
    font-size:large;
  }