
.tit{
    background-color: #FFD369;
    border-radius: 8%;
    padding-left: 4%;
    box-shadow:  1px 3px 1px 1px rgba(0, 0, 0, 0.5);
    box-sizing: content-box;
    min-width: auto;
    width: 150px;
    height: 40px;
    font-size: x-large;
    text-align: center;
}

.com{
    background-image: linear-gradient(180deg, #FFD369, #EEEEEE 200%);;
    width: 270px;
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    height: 140px;
    float: left;
    padding-left: 2%;
}


.but{
  background-color: #FFD369;
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 60px;
  margin-top: 10%;
  float: right;
  margin-right: 5%;
}


.p{
  padding-top: 10px;
}

