
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    margin: 2% 10% 0% 25%;
  }
  .h{
    background-color:rgb(255, 211, 105);
    width: 25%;
    text-align: center;
    border: rgb(255, 211, 105);
    border-radius: 10px;
    font-size: 30px;
    color:black; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
  
  table {
    border-collapse: collapse;
    width: 50%; ;
  }
  
  th,
  td {
    
    text-align: left;
    padding: 4px 10px 4px 22px; /*t r b l*/
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border-top-left-radius:20px; */
  }
  
  th {
    color: #fdfdfd;
    background-color: rgba(75, 76, 79, 0.737);
  }
  
  td {
    background-color: none;
  }
  
  select{
    border-radius: 10px;
    border: none;
    background-color: #ddd;
    margin-inline: 3px;
    padding: 5px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 60%;
  } 
  
  
  .f * {
    font-size: 20px;
    
  }

  .in{
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  margin-inline: 3px;
  padding: 5px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 15%;
  height: 5%;
  color: black;
  margin-right: 15px;

}

.in::placeholder{
  color: gray;
}

input {
  width: 9.5em;
  background-color: #222831;
  color: #FFD369;
  border-radius: 5px;
}

.on {
  background-color: #222831;
  color: #EEEEEE;
  width: 10em;
  height: 3.6 em;
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: 'Times New Roman';

}

.on:hover {
  border-color: #222831;
  background-color: #ebc15f;
  color: #222831;
  font-family: Arial;

}
