.a{
  float: left;
  position:fixed;
  height: 1000px ;
  width: 250px;
  float:left;
  background-color: #222831;
}
.heading {
  height: fit-content;
  padding-top: 3%;
}
.b{
  justify-content: center;
  margin-left: 7%;

}